

<html>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        {% include 'commonhead.html' %}
        {% include 'commonscript.html' %}
        <script>
            function comment_delete(comment_id,board_id){
                location.href = '/comment_delete/' + comment_id + "/" + board_id
            }
        </script>

    </head>
    <style>
        hr { border-top:1px solid #E5D3AD } 
        #span_btn { opacity: 0.6;}
        #comment_list { color: black; }
        /* button {background-color: #004056 !important; border-color: #004056 !important;  color:white !important;} */
    </style>
    <body style="background-color:#F3F2ED ;">
        <div class="wrap" style="display: flex;">

        
        {% include 'commonbodystart.html' %}

        <div id="main">
            <div id="image">

            </div>
            <div id="article">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">asd</text></svg>
                        </div>  
                        <div class="col p-4 flex-column position-static">
                            <div class="lh-base me-md-2">
                                <h3 class="mb-0">{{ result['title'] }}</h3>
                            </div>
                            <hr>
                            <div class="lh-base d-inline-block" >
                                <div class="d-inline-block mr-5">
                                    <h5>모집인원 : {{ result['people'] }} 명</h5>
                                </div>
                                <div class="d-inline-block">
                                    <h5>모집시간 : {{ result['date']  + " " + result['time'] }} </h5>
                                </div>
                            </div>
                            <hr>
                            <h5>{{ result['comment'] }}</h5>
                            <hr>
                            <div class="mb-1 text-muted">
                                참여자
                                {% for item in join_list %}
                                <div class="d-inline-block bgGreen">
                                    <span class="label label-default">{{ item['user_id'] }}</span>
                                </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <form name="join_status" action="{{ btn_route }}" method="post">
                                <input type="hidden" name="board_id" value="{{ result['_id'] }}"/>
                                {% if id == result['writer'] %}
                                {% else %}
                                <button type="submit" {{ disabled }} class="{{ btn_color }}">{{ btn_text }}</button>
                                {% endif %}
                            </form>
                            <br>
                            <br>
                            <div id="comment">
                                <h3>댓글</h3>
                                <hr>
                                {% for item in comment_list %}
                                <div id="">
                                    <span id="comment_list">{{ item['comment'] }}</span>
                                    {% if id == item['user_id'] %}
                                    <span id="span_btn" onclick="comment_delete(`{{ item['_id'] }}`,`{{ result['_id'] }}`)">삭제</span>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <br/>
                                <form name="comment_put" action="/comment_put" method="post">
                                    <input type="hidden" name="board_id" value="{{ result['_id'] }}"/>
                                    <div style="display: flex;">
                                        <textarea name="comment" class="form-control d-inline-block" placeholder="댓글 입력하기" style="width: 85%;"></textarea>
                                        <button type="submit" class="btn btn-primary btn_sm d-inline-block">작성</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        {% include 'commonbodyend.html' %}
    </div>
    </body>
</html>