<html>
    <head>
        {% include 'commonhead.html' %}
        {% include 'commonscript.html' %}
        <style type="text/css">
            *
            body{
                background-color: #F3F2ED;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: baseline;
            }
            
            .border{
                height: 1px;
                background-color: #2C858D;
                border: none;
            }
            
        </style>
    </head>
    <body>
        <div>
            <h3 class="content">Dining Friends</h1>
        </div>

        <form name="findPw" action="/findPw" method="post">
            <hr>
            <div>
                <label for="id">ID:</label>
                <input name="id" type="text" class="form-control" placeholder="ID" required>
            </div>
            <div>
                <label for="email">이메일:</label>
                <input name="email" type="text" class="form-control" placeholder="이메일" required>
            </div>
            <p></p>
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
            </div>
        </form>
        <div>
            <a href="findId">아이디 찾기</a> | <a href="loginform">로그인</a> | <a href="register">회원가입</a>
        </div>
    </body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}