<!-- ./templates/main.html-->

<!DOCTYPE html>
<html>
  <head>
    <title>KRAFTON | Jungle Mate</title>
    <style>
      .boards .row .board {
        background-color: green;
        margin: 20px auto 0px auto;
      }
    </style>
    <script type="text/javascript">
        function boardView(_id){
          location.href='/boardView/' + _id
        }
    </script>
  </head>

  <body>
    <div class="center">
        <div class="center_head">
            <div class="homeIMG">
                <a href="/main">
                    <img src="">JUNGLE MATE</img>
                </a>
            </div>
            
            <div class="input-group">
                    <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                    </div>
            </div>
        </div>
    
        {% if board_list%} 
            <div class="boards">
                {% for board in board_list%}
                <div class="card card-body" onClick="boardView(`{{board['_id']}}`)">
                    <p class="card-title" id="title">{{board['subject']}}</p>
                    <p class="card-meal" id="meal">{{board['content']}}</p>
                    <p class="card-hCounter" id="hCounter">{{board['writer']}}</p>
                    <!-- <p class="card-time" id="time">{{board.time}}</p> -->
                </div>
            {% endfor %}
            </div>
        {% endif %}
    
        <div class="center_down">
          <ul id="pagingul">
            <!--페이지 이전 -->
            {%if (paging.pageGroup-1)>0%}
            <li><a herf="/main/{{paging.currentPage-1}}">이전</a></li>
            {%endif%}
          
            <!--페이지 번호 표시-->
            <!--마지막 페이지의 경우-->
            {% for i in range(((paging.pageGroup-1)*paging.pageCount+1),paging.last+1)%} 
            {%if paging.currentPage == i%}
            <li><a href="/main/{{i}}">{{i}}</a></li>
            {%else%}
            <li><a href="/main/{{i}}">{{i}}</a></li>
            {%endif%} 
            {% endfor %}
          
            <!--페이지 다음-->
            {%if paging.last<(paging.totalData/paging.dataperPage)%}
            <li><a href="/main/{{paging.currentPage+1}}">다음</a></li>
            {%endif%}
          </ul>
    
            <form name="create_btn" action="/go_create_page" method="post">
                <input type="submit" value="create" name="create" />
            </form>
        </div>
    
    </div>
  </body>
</html>
